@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@import model.Codon
@(message: String, submitForm: Form[(String, Int, Int, Int, Int, Int, Int, Option[Codon], Option[Codon], Option[Codon], Option[Codon], Option[String])], jobForm: Form[(String)])(implicit messages: Messages, flash: Flash)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(message) {

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Welcome to WebOligos</h3>
            <p>WebOligos is a web service frontend for an oligonucleotide library design software. It is capable of calculating efficient designs to vary codons at multiple levels and use oligonucleotides to minimize repetition of RNA strands when synthesizing gene variants. For more information on oligo libraries and the algorithms used to construct them, see <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4186344/">[Gould, Hendy, Papamichail 2014]</a>.</p>
            <div class="row">
                <div class="col-md-6"><p>To get started, fill the form below. If you already submitted a job, you can use the ID to view results on the right.</p></div>
                <div class="form-inline row col-md-4 col-md-offset-2">
                @b3.clear.form(routes.WebOligosController.getJob()) { implicit cfc =>
                    @b3.inputWrapped("search", jobForm("jobId"), if(flash.get("error").isDefined) 'placeholder -> "Job not found!" else 'placeholder -> "Job ID") { input =>
                        <div class="input-group @if(flash.get("error").isDefined) { has-error } else {}">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                            @input
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">Go</button>
                            </span>
                        </div>
                    }
                }
                </div>
            </div>
        </div>
    </div>
    @oligoForm(disable = false, submitForm)
</div>
}